
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build outputs
/.next/
/out/

# Production files
/build

# Misc
.DS_Store
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Debugger
.vscode-debug/
.idea/
*.iml

# Local environment variables
.env.local
.env.*.local
.env # Add .env to ignore general .env files if they might contain secrets

# Turborepo
.turbo

# IDE settings
.idea/

# Framework specific
*.swc
# For Next.js projects with TypeScript (next-env.d.ts)
# next-env.d.ts # Keep this if you want to track it, or ignore if generated

# testing
/coverage

# Patch-package
/patches
.firebase/
